###################################################################################################################
[SERVER]
###################################################################################################################

server = edwprod01

###################################################################################################################
[PATH]
###################################################################################################################

#-root project directory
project_path = C:\Active\Projects\ashburton\naturalisation
####-all manual created input should be in the input folder - Results from this script will end up in the results folder
#-input folder (relative to project_path)
inputs_path = inputs
#-results folder (relative to project_path)
results_path = results2

###################################################################################################################
[DATE]
###################################################################################################################

#-Process consents/waps that were active from 'from_date' through 'to_date'.
from_date = 2009-01-01
to_date = 2018-12-31

###################################################################################################################
[SITES]
###################################################################################################################

#-Create shapefile with lowflow sites (1=Yes, 0=No). If 'create_lf_shp = 0', then it is assumed it's already created
#-and the 'lowflow_shp' is located within the 'results_path'.
create_lf_shp = 0
#-Site IDs of lowflow sites (in input_path)
lowflow_sites = ashburton_sites_v2.csv
#-Shapefile with lowflow sites to write to shapefile (in results_path)
lowflow_shp = lowflow_sites.shp


###################################################################################################################
[PCRASTER_LDD]
###################################################################################################################

#-This pcraster section aims to create a local drain direction network and to delineate catchments. This section may
#-be skipped if you already have your own delineated catchments.

#-Make LDD (create Local Drain Direction map, 1=Yes, 0=No). If make_ldd==0, then section between ----- can be left empty
#---------------------------------between here---------------------------------------------------------------------------
make_ldd = 0
#-DEM (*.map) (should be in inputs_path)
dem = dem250m_clipped.map

#-Burn rivers (1=Yes, 0=No)
burn_rivers = 1

#-Raster of rivers. Only needed if burn_rivers=1. Should be in inputs_path.
raster_rivers = rec_rivers_250m_downstream_only.map

#-Ldd map - Is created in results_path.
ldd = ldd.map

#-Accuflux map - Is created in results_path.
accuflux = accuflux.map

#-Rivers map - Is created in results_path.
rivers = rivers.map
#-nr of upstream cells needed to define cell as being river.
river_cells = 10
#---------------------------------and here------------------------------------------------------------------------------

#-Make catchment map - Delineate pcraster catchment map using ldd (from above) and stations (1=Yes, 0=No).
#-If make_catchment == 0, then section between ----- can be left empty
#---------------------------------between here---------------------------------------------------------------------------
make_catchment = 0
#-Nominal pcraster map with stations - Should be created manually.
#stations = outlet.map
stations = flow_sites_modified.map
#-Catchment map - Is created in results_path.
catchment = catchment.map
#-Sub-catchment map - Is created in results_path.
subcatchment = subcatchment.map
#---------------------------------and here------------------------------------------------------------------------------

#-Cleanup catchment maps - only keep area covered by catchment maps en throw away surrounding cells (1=Yes, 0=No).
#-If clean_up_maps == 0, then section between ----- can be left empty
#---------------------------------between here---------------------------------------------------------------------------
clean_up_maps = 0
#-New ldd
ldd_clean = ldd2.map
#-New accuflux
accuflux_clean = accuflux2.map
#-New catchment
catchment_clean = catchment2.map
#-New sub-catchment
subcatchment_clean = subcatchment.map
#---------------------------------and here------------------------------------------------------------------------------

##-SOME MANUAL STEPS ARE NEEDED NOW TO CONVERT PCRASTER MAPS (FROM STEPS ABOVE) TO NESTED CATCHMENT SHAPEFILES FOR THE LOWFLOW SITES. NEEDS TO 
##-BE DONE BEFORE MOVING ON TO THE STEPS BELOW

###################################################################################################################
[CRC_WAP]
###################################################################################################################

#-This section extracts the consent/waps from the ECan databases based on the SWAZs and from_date and to_date, and finally clips those waps
#-based on the low flow site catchments. Results are a csv-file with all consent/wap details, and a shapefile with those waps joined to a
#-lowflow site.

#-Extract Consent/WAP information and save to a csv-file. If 'get_crc_wap_details = 0', then both 'crc_wap_csv' and 'wap_shp' already have been
#-created, and should be present in the 'results_path'.
get_crc_wap_details = 0
#-CSV-file with SWAZ for which to select WAPs
swaz_csv = SWAZ.csv
#-Cutuff depth for wells (deeper wells are not taken into account).
well_depth = 40
#-Path (relative to inputs_path) where delineated sub-catchments (nested) can be found
catch_path = del_subcatchments
#-CSV-file to store detailed consent/wap information
crc_wap_csv = Ashburton_crc_wap.csv
#-Shapefile with the upstream waps for each lowflow site catchment
wap_shp = Ashburton_waps.shp

#-Create csv-file of metered abstraction data for each wap (1=Yes,0=No). If 'create_wap_ts = 0', then 'wap_ts_csv' already has been created and should
#-be present in the 'results_path'. 
create_wap_ts = 0
wap_ts_csv = Ashburton_wap_ts_metered.csv


###################################################################################################################
[CALC_RATIOS]
###################################################################################################################

#-Calculate the maximum allocated volume, metered abstraction, and abstraction ratios for each date/crc/wap combi (1=Y, 0=No). If 'crc_wap_ratio = 0', then 'crc_wap_ratio_csv'
#-should be present in the 'results_path'.
crc_wap_ratio = 1
#-CSV-file to write the maximum allocated volume, metered abstraction, and abstraction ratios for each date/crc/wap combi.
crc_wap_ratio_csv = Ashburton_date_crc_wap_ratio.csv
#-Plot ratios in a normalized histogram for checking
plot_ratios = 0
#-Group ratios by 'month', 'use_type', 'swaz' (1=Y, 0=No). If 'group_ratios = 0', then 'crc_wap_ratio_filtered_csv' should be present in 'results_path'.
#-If 'group_ratios = 0', then other fields below can be left empty.
group_ratios = 1
#-Fill missing ratios with average ratio of other SWAZs for that use_type
fill_missing_ratios = 1
#-Filter ratios above threshold (if left empty, then no filtering is done)
ratio_threshold = 2
#-Show plots of grouped ratios
plot_grouped_ratios = 0
#-CSV-file to with ratios grouped by 'month', 'use_type', 'swaz'. Ratios are based on ratios above threshold (if provided above).
crc_wap_ratio_grouped_csv = Ashburton_ratio_grouped.csv

###################################################################################################################
[ESTIMATE_USAGE]
###################################################################################################################

#-Estimate usage using the monthly ratios calculated above and the maximum daily volume (1=Y, 0=No)
estimate_usage = 1
#-CSV-file to write estimated usage to
estimated_usage_csv = Ashburton_date_allo_usage.csv


######################################

#SECTION HERE FOR AGGREGATING RESULTS BY UPSTREAM CATCHMENTS PER LOWLFOW SITE

######################################




#########



 
